@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Golos Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  width: 100vw;
  height: fit-content;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@supports (scroll-snap-align: start) {
  main {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 100vh;
    overflow-y: scroll;
  }
  section {
    scroll-snap-align: start; 
  }
}
